<head>
  <link href="../../../../../assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<div class="card" style="width: 18rem;">
    <img src="assets/img/av3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Dennis Effa Amponsah</h5>
        <p class="card-text">Dennis Effa Amponsah is just a dummy name i used to represent this
            client. Some other
            details maybe here such that it will be used to discribe the client</p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        <div class="card-footer">
            <small class="text-muted">Number of projects : 3 </small>
        </div>
    </div>
</div>